img {
    width: 30%;
    height: 30%;
    margin: calc(10%/6);
    /* display: inline-block; */
}

nav{
    text-transform: uppercase;
    width: 30%;
    margin-left:1.66%;
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: 2px solid gray;
    padding: 1.2rem 0;
}