<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter a new product</title>
</head>
<body>
    <h1>Add a product</h1>
    <form action="/products/" method="POST">
        <label for="name">Enter name of the product:</label>
        <input type="text" name="name" id="name" placeholder="enter name">
        <label for="price">Enter Price</label>
        <input type="number" name="price" id="price">
        <label for="category">Enter the type of product:</label>
        <select name="category" id="category">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>